<!DOCTYPE html>
<html>
  <head>
   <meta charset="utf-8">
    <title> 6040 March issue </title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" />
      <link rel='stylesheet' href='stylesheets/style.css'>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <div class="container-fluid" id="top">
      <div class="row">
        <div class="logoContainer">
          <img id="logo" src="images/logo.jpg" />
        </div>
        <div class="col-xs-8 col-xs-offset-2 col-md-7 col-md-offset-1">
          <h1 id = 'title'>THE SIXTY-FOURTY</h1><br>
          <h4 id = 'subtitle'>The newsletter of St. Andrew's Hall</h4>
        </div>
      </div>
      </div>
    <%- include('nav.ejs') %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
