<nav class="navbar navbar-default">
  <div class="container-fluid">
     <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#shrink">
        <span class="glyphicon glyphicon-menu-hamburger">
      </button>

      <a class="navbar-brand" href="/">
        <span class="glyphicon glyphicon-home"></span>
      </a>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-right">
            <li><a class="navLink" href='#'>Gallery</a></li>
            <li><a class="navLink" href='#'>Events</a></li>
            <li><a class="navLink" href='#'>Contact</a></li>
          </ul>
        </div>
      </div>

    </div>
</nav>
