<%- include('../partials/header.ejs') %>
		<h1 style="text-align:center; font-family:Lato";>Events Page</h1><br>


<div class="container">

<h2 style="font-family:Lato">Upcoming Events</h2><br><br>

<div class="row">
	<div class="col-xs-5">
		<div>
			<img src="http://newleafcic.org/wp-content/uploads/2015/02/leaf.png" style="width:60px;height:30px; display:flex;display:inline;float:left;transform: rotate(30deg)">
			<h3 style="display:inline">All Resident Springtime Dinner</h3>
		</div><br>
	</div>
	<div class="col-xs-7">
			<p><strong>Wednesday, April 5th, 5:15 - 6:30pm. SAH Community Centre</strong></p><hr>
	</div>
</div>


			<h2 style="font-family:Lato">Ongoing Events</h2>
			<div class="row">
					<div class="col-xs-5">

					<img src="http://newleafcic.org/wp-content/uploads/2015/02/leaf.png" style="width:60px;height:30px; display:flex;display:inline;float:left;transform: rotate(30deg)">
				<h3>Soup Nights</h3>
			</div>
			<div class="col-xs-7">
			<p><strong>Wednesdays, 5:15-6:15pm. Last Soup Night for the term is <strong>April 12th</strong>. SAH Community Centre.</strong><br><br> Grab a bowl and spoon from home and come have soup made by one of our residents, Janet Taylor who loves	to cook! Stay and enjoy food and conversation with friends old and new from all over the	world. </p><hr>
		</div>
	</div>

			<img src="http://newleafcic.org/wp-content/uploads/2015/02/leaf.png" style="width:60px;height:30px; display:flex;display:inline;float:left;transform: rotate(30deg)"><h3>Parent Tea and Conversation</h3>
			<p><strong>Thursdays, 10-11am. SAH Community Centre. until	Apr. 6 (not meeting on Mar. 16th). Facilitator: Sumarme	Goble (sgoble@standrews.edu).</strong><br><br> Parents, with or withoutchildren attending, are invited to come and enjoy refreshments and conversation. We have foam blocks and large Legos for young children, but feel free to bring your	own toys, too.</p><hr>

			<img src="http://newleafcic.org/wp-content/uploads/2015/02/leaf.png" style="width:60px;height:30px; display:flex;display:inline;float:left;transform: rotate(30deg)"><h3>Bible Study Gathering</h3>
			<strong>Mondays, 1:30-2:30pm. Jan. 23 - Apr. 10th (no meetings on Mar. 13 and 20). Campus	Ministry Office (2nd floor opposite elevator). Facilitator:	Sumarme Goble.</strong><br><br> We will be studying passages from the Bible that will help us think more deeply about our identity in Christ, hopes and dreams, and our needs for life-giving community and contribution. We will also talk about	Christian practices that help create spaces for God to form and shape us into the people God is calling us to be. <strong>Drop in
			for one session or all of them</strong>.
			</div>
</div>
