<%- include('../partials/header.ejs') %>

<div class="container">
  <div class="row">
    <h3 style="text-align:center">International Food Night and Young Resident's Birthday</h3><br>

  </div>

  <div class="row">
<div class="col-xs-4">
        <img class="img-responsive" src="/images/march_2017/gallery1.jpg" style="min-width:95%; max-height:550px; border:1px solid grey">
</div>
<div class="col-xs-4">
    <img class="img-responsive" src="/images/march_2017/foodnight2.jpg" style="max-width:100%; border:1px solid grey;margin-top:30px"><br><br>
      <img class="img-responsive" src="/images/march_2017/gallery2.jpg" style="max-width:100%; border:1px solid grey">
</div>
<div class="col-xs-4">
  <img class="img-responsive" src="/images/march_2017/gallery3.jpg" style="max-width:100%; border:1px solid grey">
</div>
<div class="col-xs-3">

</div>


  </div>

</div>
