<%- include('../partials/header.ejs') %>
<div class="container">
  <h3 style = "">March 16th, 2017</h3><br><br>

  <div class="row">
    <div class="col-xs-7 col-xs-offset-3">
      <img src="/images/frontpic.jpg" style="max-width:100%">
    </div>

  </div>
</div>
