<%- include('../partials/header.ejs') %>
<div class="container">
  <h3>March 16th, 2017</h3><br><br>

  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <img src="/images/march_2017/frontpic.jpg" style="max-width:100%">
    </div>
  </div><br>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <img src="/images/march_2017/food_bank.jpg" style="max-width:100%">
    </div>
  </div>

</div>
