body {
  padding: 8px;
  font: 18px "Georgia", sans-serif;
}

a {
  color: #00B7FF;
}

#logo {
  height: 120px;
  width: 100px;
  margin-top: 10px
}

.top > .row {
  margin-left: 0;
  margin-right: 0;
}

#title {
  font-family: Caudex;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: ivory;
  text-shadow: 9px 4px 10px Indigo
}

#subtitle{
  font-family: Caudex;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  color: ivory;
  text-shadow: 4px 4px 10px GoldenRod
}


#top{
  margin-top: 0;
  background-image: url("../images/iona.jpg");
  background-size: 100% 160px;

}
.articletitle {
  align-items: center;
}

.articlesub {
  align-items: center;
}

.navbar-brand > span{
  color: black !important;
}
.navLink {
  color: black !important;
  font-size: 18px
}
