body {
  padding: 8px;
  font: 18px "Georgia", sans-serif;
}

a {
  color: #00B7FF;
}

#logo {
  height: 120px;
  width: 100px;
  margin-top: 10px
}

.top > .row {
  margin-left: 0;
  margin-right: 0;
}

#title {
  font-family: Caudex;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: ivory;
  text-shadow: 9px 4px 10px Indigo
}

#subtitle{
  font-family: Caudex;
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  color: ivory;
  text-shadow: 4px 4px 10px GoldenRod
}


#top{
  margin-top: 0;
  background-image: url("../images/iona.jpg");
  background-size: 100% 160px;

}
.articletitle {
  text-align: center;
  font-weight: bold;
}

.articlesub {
  text-align: center;
  font-weight: bold;
}

.articlepic{
 /*background-color: grey*/
}

.articlecontent{
  text-align: justify;
}

.navbar-brand > span{
  color: black !important;
}
.navLink {
  color: black !important;
  font-size: 23px
}

#circle-shape {
   margin: 2rem;
}
#circle-shape p {
  line-height: 1.8;
}
#circle-shape .curve {
  width: 40%; height: auto;
  min-width: 100px;
  float: left;
  margin-right:12rem;
  border: 2px solid grey;
  border-radius: 50%;
  -webkit-shape-outside:circle();
  shape-outside:circle();
}
